:root {
  --button-border: 1px solid rgba(152, 161, 192, 0.24);
  --button-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
  --button-box-shadow-hover: 0px 0px 8px 8px rgba(30, 136, 229, 0.2);
  --transition-ease: all 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.custom-button {
  border: var(--button-border);
  border-radius: 20px;
  box-shadow: var(--button-box-shadow);
  transition: var(--transition-ease);
}

.custom-button:hover {
  box-shadow: var(--button-box-shadow-hover);
}
