.container {
  width: 80%;
  height: auto;
  max-width: 900px;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 30px rgba(30, 136, 229, 0.2);
}

.content {
  flex-direction: column;
  width: 85%;
  margin: auto;
  font-size: 17px;
  gap: 1rem;
  justify-content: center;
}

@media (width < 768px) {
  .container {
    width: 100%;
  }
}
